* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.big-container {
    width: 100%;
    background-color:  rgb(255, 128, 0);  
    box-shadow: 0px 2px 1px rgb(192, 191, 191);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-bar {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(192, 191, 191);  
}

/* main */
main{
    padding-top: 150px;
}

.gender, .icon {
    display: flex;
    text-decoration: none;
}

.logo {
    display: inline-block;
    width: 10%;  
    text-align: center; 
}

.gender {
    list-style: none;
}

a {
    color: white;
}

ul li a, .icon a i {
    padding: 0 10px;
    text-decoration: none;
    font-weight: bolder;
}

.main-container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 33.3%;
    padding: 0 2rem 4rem;
}

.img-container img {
    width: 100%;
}

.img-container{
    position: relative;
}

.sale-1 {
    position: absolute;
    bottom: 1.8rem;  
    left: 0.4rem; 
}

.img-text{
    color: white;
    text-align: center;
    display: inline-block;
    font-size: .8rem;
    line-height: 1.2rem;

}

.red{
    width: 3rem;
    background-color: red;
}

.green {
    background-color: green;
    width: 6rem;
}

.heart {
    position: absolute;
    right: 1.4rem;
    top: 1.5rem;
    display: inline;
    color: red;
    display: none;
}


.img-container:hover .heart {
    display: block;
}

.model-b {
    display: none;
}

.img-container:hover .model-a{
    display: none;
}

.img-container:hover .model-b {
    display: block;
}

.price {
    color: red;
    font-weight: 800;
}

.sbarrato{
    text-decoration: line-through;
    font-size: 0.9rem;
}